<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">ir a login</a>
    </li>
    <li>
        <a routerLink="/auth/registro">ir al registro</a>
    </li>
    <li>
        <a routerLink="/heroes/listado"> ir al listado de heroes</a>
    </li>
    <li>
        <a routerLink="/heroes/agregar"> ir a agregar heroe</a>
    </li>
    <li>
        <a routerLink="/heroes/editar:id"> ir a editar heroe</a>
    </li>
    <li>
        <a routerLink="/heroes/buscar"> ir a buscar heroes</a>
    </li>
    <li>
        <a routerLink="/heroes/:id"> ir a heroe</a>
    </li>
</ul>