<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
    <div class="col">
        <!-- asociamos a una propiedad de nuestra clase de nuestro main page component
        el personajes entre "" es el que se encuentra en el main page 
        y lo que esta en [] significa que es una propuiedad , que le quiero asociar el valor de esa
        propiedad y el nombre personajes viene por el nombre en el personajes component 
        mas precisamnete por el nombre despues del @input-->

        <!-- tenemos un error porque ya no existe la propiedad personajes se cambio por data -->
        <app-personajes>
            <!-- [personajes]="personajes" -->
        </app-personajes>
       
    </div>
    <div class="col">
        <!-- cuando se emite un evento y nosotros necesitamos  las caracteristicas de ese evento
        (lugar donde se hizo clic ,valor del input, del target) eso se hace con el simbolo de dolar ($)
        $event -->
        <app-agregar 
            [nuevo]="nuevo"
            
        ></app-agregar>
        <!-- (onNuevoPersonaje)="agregarNuevoPersonaje( $event )" -->
    </div>
</div>
